/* ==== Tab groups ==== */
/* https://github.com/Anoms12/Advanced-Tab-Groups */
/* ====== v3.1.0b ====== */
tab-group:not([split-view-group]) {
  --advanced-tab-color: var(--tab-group-color);
  --tab-group-color-pale: transparent !important;

  .tab-group-label-container {
    height: 36px !important;
    margin: 0 !important;
    padding: 0 10px 0 0 !important;
    border-radius: var(--border-radius-medium) !important;
    display: flex !important;
    align-items: center !important;

    .tab-close-button,
    .group-stash-button {
      margin-inline-start: 4px !important;
      /*** "colllapse" instead of "hidden" so they 
        don't take up space while invisible */
      visibility: collapse !important;
    }

    @media (-moz-bool-pref: "browser.tabs.groups.stash-icon") {
      .group-stash-button {
        appearance: button;
        /*list-style-image: url("chrome://browser/skin/taskbar-tabs-add-tab.svg");*/
        list-style-image: url("chrome://browser/skin/taskbar-tabs-move-tab.svg");
        width: 12px;
        height: auto;
        margin-inline: auto 0;
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor
      }
    }

    &:hover {
      background-color: var(--tab-hover-background-color) !important;

      .group-stash-button,
      .tab-close-button {
        -moz-window-dragging: no-drag !important;
        display: flex;
        visibility: visible !important;
      }
    }

    .tab-group-icon-container {
      margin: 0 6px 0 10px;

      @media (-moz-bool-pref: "browser.tabs.groups.add-arrow") {
        .group-marker {
          appearance: none;
          -moz-context-properties: fill, fill-opacity;
          list-style-image: url(chrome://browser/skin/zen-icons/arrow-right.svg) !important;
          border-radius: 4px;
          color: inherit;
          fill: currentColor;
          padding: 1px;
          width: 16px;
          height: auto;
          rotate: 90deg;
          transition: rotate .25s ease-out;

          &:hover {
            outline: var(--toolbarbutton-outline);
          }
        }
      }
    }

    .tab-group-icon {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      background: var(--advanced-tab-color);
      min-width: 16px !important;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      position: relative;
    }

    .tab-group-label {
      font-weight: var(--font-weight-bold) !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      margin-inline-end: auto !important;
      width: -moz-available;
      background: transparent !important;
      outline: none !important;
      color: var(--tab-selected-textcolor) !important;

      /*** Enforcing text-overflow - does it work? */
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis ellipsis !important;

      &:-moz-window-inactive {
        color: var(--toolbox-textcolor-inactive) !important;
      }

      /*** Fix for #tab-label-input while renaming */
      &[id="tab-label-input"] {
        align-self: center !important;
        text-align: start !important;
        /*margin-inline-start: 4px !important;*/
        border-radius: var(--tab-border-radius) !important;
        padding-inline: var(--tab-group-label-padding) !important;
      }
    }
  }

  .tab-group-container {
    max-height: 100% !important;
    position: relative;
    margin-inline-start: 12px !important;

    &::after {
      content: "";
      position: absolute;
      left: -2px !important;
      top: 0;
      background: var(--advanced-tab-color);
      height: 100%;
      width: 2px;
      pointer-events: none !important;
    }

    tab {
      max-height: 40px;
      opacity: 1;
      overflow: hidden;
      transition: scale 0.07s ease, var(--zen-tabbox-element-indent-transition), min-width 100ms ease-out, max-width 100ms ease-out, max-height 0.10s ease, opacity 0.10s ease !important;
    }
  }

  &[collapsed] {
    .tab-group-label-container {
      .tab-group-icon {
        @media (-moz-bool-pref: "browser.tabs.groups.add-arrow") {
          .group-marker {
            rotate: 0deg;
          }
        }
      }
    }

    .tab-group-container {
      tab:not([selected]) {
        max-height: 0 !important;
        opacity: 0 !important;
        /*** fixes weird scrolling issue */
        overflow: hidden !important;
      }
    }
  }
}



/*** Numbered group tabs */
@media (-moz-pref("browser.tabs.groups.count")) {
  tab-group:not([split-view-group]) {

    .tab-group-container {
      counter-reset: tab-counter;

      tab {
        counter-increment: tab-counter;

        &::before {
          content: counter(tab-counter);
          align-self: center;
          display: grid;
          place-items: center;
          flex-shrink: 0;
          border: 1px solid light-dark(transparent, currentColor);
          /*border-radius: 50%;*/
          width: 16px;
          height: 16px;
          line-height: normal;
          margin-inline-end: 5px;
          border-radius: var(--tab-border-radius);
          background: var(--advanced-tab-color);
        }
      }
    }
  }
}


/* ==== Styles section ==== */
/* Adds mutually exlusive style sets based on ATG's default styles */


/*** Circle style */
@media (-moz-pref("browser.tabs.groups.style", "circle")) {

  tab-group:not([split-view-group]) {

    .tab-close-button {}

    .tab-group-label-container {

      &:hover {

        .tab-close-button {}
      }

      .tab-group-icon-container {

        .group-marker {
          /*list-style-image: url(chrome://browser/skin/zen-icons/arrow-right.svg) !important;*/

          &:hover {}
        }
      }

      .tab-group-icon {
        border-radius: 50%;
      }

      .tab-group-label {}
    }

    .tab-group-container {
      margin-inline-start: 17.5px !important;

      &::after {}

      tab {}
    }


    &[collapsed] {
      .tab-group-label-container {
        .tab-group-icon {
          .group-marker {}
        }
      }
    }
  }
}


/*** Arc-like group styling */
@media (-moz-pref("browser.tabs.groups.style", "arc")) or (-moz-pref("browser.tabs.groups.style", "arc+")) {

  /*** Set counter for numbered groups */
  .zen-workspace-normal-tabs-section {
    counter-reset: tab-groups;
  }

  tab-group:not([split-view-group]) {

    .tab-group-label-container {

      /*** Specify and style counter */

      .zen-workspace-normal-tabs-section & {
        &::before {
          counter-increment: tab-groups;
          content: counter(tab-groups);
          position: absolute;
          left: 0;
          display: grid;
          place-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 16px;
          height: 16px;
          line-height: 1;
          border: 1px solid light-dark(transparent, color-mix(in srgb, currentColor, transparent 30%));
          border-radius: 50%;
          /*border-radius: var(--tab-border-radius);*/
          margin-inline: 11px 0 !important;
          /*background: var(--advanced-tab-color);*/

          background-color: light-dark(color-mix(in srgb, var(--zen-primary-color), white 70%), color-mix(in srgb, var(--zen-primary-color), black 40%));
        }
      }

      &:hover {
        /*background-color: transparent !important;*/

        .tab-close-button,
        .group-stash-button {
          opacity: .75;
        }
      }

      .tab-group-icon {
        display: none !important;
      }

      .tab-group-label {
        font-size: .9em !important;
        opacity: .75;

        #tabbrowser-tabs[orient="vertical"] & {
          #tabbrowser-tabs[expanded] & {
            /*margin-inline-end: var(--space-medium);*/
            padding-inline-start: 0 !important;
            margin-inline-start: 20px !important;
            letter-spacing: .05em;
          }
        }
      }
    }

    .tab-group-container {
      margin-inline-start: 0 !important;
      margin-block-end: var(--space-medium);

      &::after {
        content: none !important;
      }

      tab {
        margin-inline-start: var(--zen-folder-indent, 14px) !important;

        &:has(+ tab-group) {
          margin-block-end: 10px !important;
        }
      }
    }

    &[collapsed] {
      .tab-group-container {
        margin-inline-end: var(--space-small);
      }
    }
  }

  .change-group-color {
    display: none !important
  }
}


/*** Edge-like group styling */
@media (-moz-pref("browser.tabs.groups.style", "edge")) {

  tab-group:not([split-view-group]) {

    --advanced-tab-color-light: ;

    .tab-group-label-container {
      height: 26px !important;
      margin-block: 8px 4px !important;
      paddiing-inline-end: 0 !important;


      .tab-close-button,
      .group-stash-button {
        justify-self: end;
        color: unset;
        visibility: collapse !important;
      }

      &:hover {
        background-color: transparent !important;

        .tab-close-button,
        .group-stash-button {
          visibility: visible !important;
        }
      }

      .tab-group-icon-container {

        margin-inline-end: 0 !important;
        position: absolute;
        left: 0;

        .group-marker {
          list-style-image: none !important;
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M184.75,413.15l2.1-1.8,156.5-136c5.3-4.6,8.6-11.5,8.6-19.2s-3.4-14.6-8.6-19.2L187.15,101.05l-2.6-2.3c-2.5-1.7-5.5-2.7-8.7-2.7-8.7,0-15.8,7.4-15.8,16.6v286.8c0,9.2,7.1,16.6,15.8,16.6,3.3,0,6.4-1.1,8.9-2.9h0Z"/></svg>') !important;
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
          width: 16px;
          height: 16px;
          /*** a little streching */
          scale: 1 1.1;
          rotate: 45deg;
          transition: none;
          translate: 0 .15em;
          background-color: currentColor;

          @media (prefers-color-scheme: dark) {
            background-color: color-mix(in srgb, currentColor, black 90%) !important;
          }

          &:hover {}
        }
      }

      .tab-group-icon {
        background: transparent none;
      }

      .tab-group-label {
        font-weight: var(--font-weight-bold) !important;
        margin-inline-start: 4px !important;
        padding-inline: 24px 7px !important;
        max-width: fit-content !important;
        /*** background shorthand has to be separated as a fallback 
          to be able to apply lighter background-color to labels 
          w/o killing gradient backgrounds: */
        background-color: var(--advanced-tab-color) !important;
        background-image: var(--advanced-tab-color) !important;

        @media (prefers-color-scheme: dark) {
          background-color: color-mix(in srgb, var(--tab-group-color), white 40%) !important;
          color: color-mix(in srgb, currentColor, black 90%) !important;

          &:-moz-window-inactive {
            color: color-mix(in srgb, var(--toolbox-textcolor-inactive), black 80%) !important;
          }
        }

        /*** TEMP! */
        /*max-width: max-content !important;*/
        /*padding: 0 0 0 32px !important;*/
        /*width: 100% !important;*/
        /*** Does not work in Gecko :( - yet? */
        field-sizing: content;

        /*** Fix for #tab-label-input while renaming */
        &[id="tab-label-input"] {
          max-width: -moz-available !important;
        }
      }
    }

    .tab-group-container {

      &::after {
        left: -8px !important;
        top: 0;
        /*** see above */
        background-color: var(--advanced-tab-color) !important;
        background-image: var(--advanced-tab-color) !important;

        @media (prefers-color-scheme: dark) {
          background-color: color-mix(in srgb, var(--tab-group-color), white 40%) !important;
          color-scheme: dark !important;
        }

        width: 4px;
        border-radius: 2px;
      }

      tab {}
    }


    &[collapsed] {
      .tab-group-label-container {
        .tab-group-icon {
          .group-marker {
            rotate: 0deg;
            translate: 0 0;
          }
        }
      }
    }
  }
}

/* Arc-like with flavor */
@media (-moz-pref("browser.tabs.groups.style", "arc+")) {

  .zen-workspace-normal-tabs-section {
    counter-reset: tab-groups;
  }

  tab-group:not([split-view-group]) {

    .tab-icon-stack {
      /*margin-inline-end: 12px !important;*/
    }

    .tab-group-label-container {

      .zen-workspace-normal-tabs-section & {
        &::before {
          counter-increment: tab-groups;
          content: counter(tab-groups);
          display: grid;
          place-items: center;
          flex-shrink: 0;
          border: 1px solid light-dark(transparent, currentColor);
          /*border-radius: 50%;*/
          box-sizing: border-box;
          width: 16px;
          height: 16px;
          line-height: 1;
          background: var(--advanced-tab-color);
          margin-inline: 10px 0 !important;
          border-radius: var(--tab-border-radius);
          background: var(--advanced-tab-color);
        }
      }

      &:hover {

        .tab-close-button,
        .group-stash-button {}
      }

      .tab-group-icon {}

      .tab-group-label {

        #tabbrowser-tabs[orient="vertical"] & {
          #tabbrowser-tabs[expanded] & {
            margin-inline-end: var(--space-medium);
          }
        }
      }
    }


    .tab-group-container {
      transition: margin-inline-start .1s ease-out;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background: var(--advanced-tab-color);
      }

      &::before {
        inset: 0 auto 0 0 !important;
        height: calc(100% - 1px);
        width: 1px;
        transition: height .15s ease-in;
      }

      &::after {
        inset: auto auto 0 1px !important;
        width: 100%;
        height: 1px;
        transition: width .15s ease-in .15s;
      }


      tab {
        :root[zen-sidebar-expanded="true"] & {
          margin-inline-start: var(--zen-folder-indent, 14px) !important;
        }
      }
    }

    &[collapsed] {
      .tab-group-container {
        /*margin-inline-start: 24px !important;*/

        &::before {
          height: 0;
        }

        &::after {
          width: 0;
        }
      }
    }
  }
}


/*=====================================================
  Reusable selector template for further browser styles
======================================================*/
/*
tab-group:not([split-view-group]) {

  .tab-close-button {}

  .tab-group-label-container {

    &:hover {

      .tab-close-button {}
    }

    .tab-group-icon-container {

      .group-marker {
        list-style-image: url(chrome://browser/skin/zen-icons/arrow-right.svg) !important;

        &:hover {}
      }
    }

    .tab-group-icon {}

    .tab-group-label {}
  }

  .tab-group-container {

    &::after {}

    tab {}
  }


  &[collapsed] {
    .tab-group-label-container {
      .tab-group-icon {
        .group-marker {}
      }
    }
  }
}
*/





/*** TEMP! [debugging] */
/*zen-folder {
  > .tab-group-label-container {

    > label,
    > #tab-label-input {
      outline: 1px solid red !important;
    }
  }
}

tab-group:not([split-view-group]) {
  .tab-group-label-container {
    outline: 1px solid lightgreen !important;

    > #tab-label-input {
      background-image: var(--tab-group-color) !important;
      background-color: rgb(from var(--tab-group-color) r g b / 50%) !important
    }
  }
}*/
